/.vscode
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Library
/Logs
/MultiPlayerGame.sln
/obj
/QFSW.QC.csproj
/QFSW.QC.Demo.csproj
/QFSW.QC.Editor.csproj
/QFSW.QC.Editor.Tools.csproj
/QFSW.QC.Extras.csproj
/QFSW.QC.Grammar.csproj
/QFSW.QC.Parsers.csproj
/QFSW.QC.QGUI.csproj
/QFSW.QC.ScanRules.csproj
/QFSW.QC.Serializers.csproj
/QFSW.QC.Suggestors.csproj
/QFSW.QC.UI.csproj
/Temp
/UserSettings